div#ui-datepicker-div    {
    background:#FFFFFF !important;
    display:block;     
 }



#long_review_row {
width: 400px;
}

#main-page {
min-height:800px;
}

.right {
float:right;
}

.green {
background:green;	
}

.red {
background:red;
}
