div#ui-datepicker-div    {
    background:#FFFFFF !important;
    display:block;     
 }

#contact_list a, #upcoming_list a{
	font-size: 18px;
}

#main-page {
min-height:800px;
}

.right {
float:right;
}

.green {
background:green;	
}

.red {
background:red;
}
